<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Ethereum Explorer</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="input-group">
      <input
        type="text"
        class="form-control"
        placeholder="Enter Block number here"
        #blockNumber
      />
      <input
        type="text"
        class="form-control"
        placeholder="Enter Address here"
        #address
      />
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary"
          type="button"
          (click)="searchTransactions(blockNumber, address)"
        >
          Search
        </button>
      </div>
    </div>
  </div>
</nav>
